@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "IBM Plex Mono";
}

body {
    background-color: white;
    display: flex;
    overflow: hidden;
}

.sidebar {
    width: 20vw;
    background-color: black;
    height: 110vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.sidebar * {
    color: white;
    padding-top: 6.5%;
    font-family: "IBM Plex Mono";
    text-align: center;
    font-weight: 500;
}
.sidebar button {
    padding: 0;
    color: black;
}

.sidebar h1 {
    flex: 0.4;
}

.main {
    width: 80vw;
    height: 100vh
}

.screen {
    height: 95vh;
    overflow: auto;
}

.screen span {
    padding-right: 0;
}

.screen ul {
    list-style: none;
}

.screen * {
    padding: 24px 24px 0;
}

.messageBox {
    height: 5vh;
    display: flex;
}

.messageBox input {
    flex: 1;
}

.messageBox button {
    flex: 0.2;
}

.messageBox * {
    height: 100%;
}

.bold {
    font-weight: bold;
}

.username {
    padding-left: 0;
}

.messagecontent {
    padding-top: 0
}